#experiments/*
#datasets/*
test/*
download/*
*__pycache__*
*.pyc*
fine-tuned.sh
.vscode/launch.json
pre_processing/**/*.json
pre_processing/**/*.jsonl
pre_processing/**/*.npy
pre_processing/data_synthesis/config.yaml
pre_processing/output/*
**.tar**
**eval_output**
__test.py
run.py
sum_output
src/test_sum.ipynb
